/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

:root {
  --primary-color: #232121;
  --secondary-color: #020210;
  --text-color: #ffffff;
}

/* Estilos para as caixas de funcionalidades */
.functionality-box {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--primary-color); /* Alteração */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 400px;
}

/* Estilos para os títulos */
h1, h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

/* Estilos para os formulários */
.form-container {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--primary-color); /* Alteração */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.form-container label {
  display: block;
  margin: 1px solid white;
  margin-bottom: 10px;
  color: var(--text-color);
}

.form-container input[type="text"],
.form-container input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--text-color);
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--secondary-color);
}

/* Estilos para ul */
li {
  border: 1px solid var(--text-color);
  padding: 10px; /* Adiciona um pouco de espaço interno para os itens da lista */
  border-radius: 4px; /* Adiciona cantos arredondados */
  background-color: rgba(255, 255, 255, 0.1); /* Adiciona um fundo levemente transparente */
  width: 20rem;
  height: auto;
  color: var(--text-color); /* Garante que a cor do texto seja a mesma definida nas variáveis */
  gap: 10px;
  
}
