*{
  background-color: var(--secundary-color);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #f5f5f5;
  --secundary-color: #020210;
  --text-color: rgb(255, 255, 255);
}

h1{
  color:  var(--text-color);
}

/* Estilos para a página ProdutoListar */

/* Estilos para os títulos */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
}

/* Estilos para os dados dos clientes, funcionários e eventos */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

/* Estilos para as informações específicas */
li span {
  font-weight: bold;
}

/* Estilos para os clientes VIP */
.vip {
  color: green;
}

.lista {
  list-style: none;
  padding: 0;
}

.lista-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  align-items: center;
  display: flex;
  text-align: center;
}

.lista-item h2 {
  margin-top: 0;
}

/* Estilos específicos para a lista de clientes */
.lista-clientes {
  background-color: #f70707;
}

/* Estilos específicos para a lista de funcionários */
.lista-funcionarios {
  background-color: #e0e0e0;
}

/* Estilos específicos para a lista de eventos */
.lista-eventos {
  background-color: #d0d0d0;
}